.section {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 6rem;
  background: #63617c;
}

.width {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 200%;
  margin: 25px;
  text-shadow: 2px 2px 10px #353443;
  line-height: 1.5;
  text-align: justify;
}

h2 {
  font-weight: 400;
  font-size: 400%;
  margin-bottom: 3rem;
  text-shadow: 2px 2px 10px #353443;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 125%;
    margin: 0%;
  }

  .section {
    padding: 2rem 1rem;
  }

  h2 {
    font-size: 200%;
    margin-bottom: 2rem;
  }
}
