<div class="section">
  <div class="width">
    <h2>ABOUT</h2>
    <p>
      Handyman Jerry is a professional Berlin-based builder, with over 10 years
      of experience worldwide. Jerry specialises in both commercial and
      residential renovations and fittings, drywall construction, carpentry,
      flooring, plastering, and more.
      <br />
      <br />
      Handyman Jerry always strives to deliver clean and professional
      craftsmanship on all his projects, no matter big or small. English is his
      native language, although communication in German and Spanish is also
      possible.
      <br />
      <br />
      Call Handyman Jerry today for a free, no-obligation quote!
    </p>
  </div>
</div>
