<div class="section">
  <div class="width">
    <h2 class="center">SERVICES</h2>

    <div class="flexbox">
      <div class="box">
        <i class="fas fa-tools"></i>
        <h3>Renovations</h3>
        <span>
          Commercial <br />
          Residential <br />
          Carpentry <br />
          Drywall <br />
          Flooring <br />
          Extensions <br />
          Plastering <br />
        </span>
      </div>
      <div class="box">
        <i class="fas fa-sink"></i>
        <h3>Bathrooms</h3>
        <span>
          Tiling <br />
          Fitouts <br />
          Waterproofing <br />
          Sealing <br />
          Repairs <br />
        </span>
      </div>
      <div class="box">
        <i class="fas fa-paint-roller"></i>
        <h3>Odd Jobs</h3>
        <span>
          Painting <br />
          Water leaks <br />
          Appliance installation <br />
          Lighting fittings <br />
          Curtain fixtures <br />
          Fan/AC fitting<br />
        </span>
      </div>
    </div>
  </div>
</div>
