.section {
  text-align: center;
  padding: 3rem 0;
  background: #63617c;
}

.width {
  max-width: 1440px;
  margin: 0 auto;
}

.flexbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  font-weight: 400;
  font-size: 400%;
  margin-bottom: 3rem;
  text-shadow: 2px 2px 10px #353443;
}

.center {
  text-align: center;
}

.box {
  width: 100%;
  margin: 1rem 1rem;
  padding: 3rem 1rem;
  background: #ddd;
  color: #000;
  box-shadow: 5px 5px 50px #353443;
  cursor: pointer;
  height: 500px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;

  i {
    font-size: 500%;
    padding-bottom: 2rem;
    color: #000;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }

  h3 {
    font-size: 250%;
    font-weight: 400;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }

  span {
    font-size: 175%;
    font-weight: 400;
    line-height: 1.5;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
}

.box:hover {
  cursor: default;
  background: #ff0;
  transform: translateY(-3px) scale(1.01);
  -webkit-transform: translateY(-3px) scale(1.01);
  -moz-transform: translateY(-3px) scale(1.01);
  -ms-transform: translateY(-3px) scale(1.01);
  -o-transform: translateY(-3px) scale(1.01);
}

@media only screen and (max-width: 768px) {
  .flexbox {
    flex-direction: column;
  }

  .box {
    width: initial;
    height: auto;
    i {
      font-size: 300%;
      padding-bottom: 1rem;
    }

    h3 {
      font-size: 150%;
    }

    span {
      font-size: 100%;
    }
  }
}
