<div class="section">
  <div class="width">
    <h2>CONTACT</h2>
    <p>
      Handyman Jerry provides quality craftsmanship, honest pricing and
      reliability.
      <br />
      Need a handyman in Berlin?
    </p>
    <br />
    <a class="phone" href="tel:+491634841968">CALL JERRY TODAY! </a>
    <br />
    <br />
    <br />
    <div class="flexbox">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <br />
        <span> Monday - Friday: 7am - 18pm </span>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <br />
        <span>
          Tel: +491634841968
          <div class="copyClick" (click)="copyEmail()">
            Email: handymanjerryberlin@gmail.com
          </div>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- The actual snackbar -->
<div id="snackbar">copied email to clipboard.</div>
