.section {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 6rem;
  background: #63617c;
}

.width {
  max-width: 900px;
  margin: 0 auto;
}

p {
  font-size: 200%;
  margin: 25px;
  text-shadow: 2px 2px 10px #353443;
  line-height: 1.5;
}

h2 {
  font-weight: 400;
  font-size: 400%;
  margin-bottom: 3rem;
  text-shadow: 2px 2px 10px #353443;
}

.button {
  margin-top: 2rem;
}

span {
  font-size: 200%;
  line-height: 1.5;
  text-shadow: 2px 2px 10px #353443;
}

a {
  padding: 10px 20px;
  background-color: #ff0;
  text-decoration: none;
  color: #000;
  font-size: 200%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

a:hover {
  background-color: #000;
  color: #ff0;
}

.copyClick {
  font-size: 90%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.copyClick:hover,
.copyClick:active {
  cursor: pointer;
  color: #ff0;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 125%;
  }

  .phone {
    font-size: 1.5rem;
  }

  .section {
    padding: 2rem 0;
  }

  h2 {
    font-size: 200%;
    margin-bottom: 1rem;
  }

  span {
    font-size: 125%;
  }

  .copyClick {
    color: #eee;
  }
}
