.footer {
  background: #63617c;
  padding: 3rem;

  a {
    margin: 0 20px;
    color: #ddd;
    cursor: pointer;
    font-size: 150%;
    font-weight: 400;
    text-decoration: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }

  a:hover,
  a:active {
    color: #000;
  }

  .copyright {
    margin-top: 2rem;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 2px 2px 10px #353443;
  }
}

@media only screen and (max-width: 768px) {
  a {
    text-align: center;
    display: block;
    padding-bottom: 1rem;
  }
}
