<div class="footer">
  <div class="row">
    <div class="col-12">
      <a routerLink="/privacy">privacy policy</a>
      <a routerLink="/imprint">imprint</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 copyright">
      <span> Copyright © 2023 by skillcap.org all rights reserved </span>
    </div>
  </div>
</div>
