<toolbar></toolbar>
<header (scrollClicked)="scroll(target)"></header>
<info-section></info-section>
<about-section></about-section>
<prices-section></prices-section>
<div #target></div>
<contact-section></contact-section>
<reviews-section></reviews-section>
<scroll-top></scroll-top>
<footer></footer>
