<div class="outerDiv">
  <button
    *ngIf="showScrollButton"
    class="button main scrollTopButton"
    id="scrollButton"
    (click)="scrollToTop()"
  >
    <i class="fas fa-chevron-up"></i>
  </button>
</div>
