.outerDiv {
  width: 64px;
  margin: 0 auto;
}

.scrollTopButton {
  font-size: 125%;
  background: #ff0;
  color: #000;
  right: 80px;
  bottom: 60px;
  position: fixed;
  margin: 0 auto;
  width: 64px;
  height: 54px;
  box-shadow: 2px 2px 50px #353443;
  z-index: 3;
}

.scrollTopButton:hover,
.scrollTopButton:active {
  background: #000;
  color: #ff0;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .scrollTopButton {
    opacity: 1;
    right: 18px;
    bottom: 20px;
  }
}
