.flexbox {
  display: flex;
  min-height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1,
h2 {
  text-align: center;
  display: block;
  padding: 10px;
}

.center {
  display: block;
  margin-top: 3rem;
  text-align: center;
  animation-name: fadeInUp;
  animation-duration: 1s;
}

.mainHeader {
  font-size: 450%;
  font-weight: 400;
  letter-spacing: 5px;
  backface-visibility: hidden;
  animation-name: moveInLeft;
  animation-duration: 1s;
  -webkit-backface-visibility: hidden;
}

.subHeader {
  letter-spacing: 8px;
  line-height: 1.5;
  animation-name: moveInRight;
  animation-duration: 1s;
  padding: 10px 20px;
  font-size: 200%;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

@media only screen and (max-width: 768px) {
  .mainHeader {
    font-size: 200%;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
  }

  .subHeader {
    font-weight: 400;
  }
}
