<div class="flexbox">
  <h1 class="mainHeader">HANDYMAN JERRY</h1>
  <h2 class="subHeader">Australian handyman in Berlin</h2>
  <div class="center">
    <button class="button" (click)="showMoreScroll()">CALL NOW!</button>
  </div>
</div>
