.flexbox {
  display: flex;
  min-height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h3 {
  font-size: 200%;
  color: #ff0;
}

.imprint {
  text-align: center;
  font-size: 150%;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  .box {
    padding: 15px;
  }
}
