.section {
  text-align: center;
  padding: 0 0 6rem 0;
  background: #63617c;
}

.width {
  max-width: 1440px;
  margin: 0 auto;
}

.flexbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  font-weight: 400;
  font-size: 400%;
  margin-top: 0;
  text-shadow: 2px 2px 10px #353443;
}

.box {
  width: 100%;
  margin: 1rem 1rem;
  padding: 3rem 1rem;
  background: #ddd;
  color: #000;
  height: 300px;
  box-shadow: 5px 5px 50px #353443;
  cursor: pointer;
  max-height: 500px;
  font-weight: 300;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;

  h3 {
    font-size: 250%;
    font-weight: 400;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }

  .price {
    margin-top: 4rem;
  }

  .euro {
    font-size: 350%;
    font-weight: 400;
  }

  .number {
    font-size: 500%;
    font-weight: 400;
  }

  .hour {
    font-size: 250%;
  }
}

.box:hover {
  cursor: default;
  background: #ff0;
  transform: translateY(-3px) scale(1.01);
  -webkit-transform: translateY(-3px) scale(1.01);
  -moz-transform: translateY(-3px) scale(1.01);
  -ms-transform: translateY(-3px) scale(1.01);
  -o-transform: translateY(-3px) scale(1.01);
}

@media only screen and (max-width: 768px) {
  .section {
    padding: 2rem 0;
  }

  h2 {
    font-size: 200%;
    margin-bottom: 1rem;
  }

  .box {
    width: initial;
    height: initial;

    h3 {
      font-size: 150%;
    }

    .price {
      margin-top: 2rem;
    }

    .euro {
      font-size: 250%;
    }

    .number {
      font-size: 300%;
    }

    .hour {
      font-size: 200%;
    }
  }

  .flexbox {
    flex-direction: column;
  }
}
