<div class="section">
  <div class="width">
    <h2>PRICES</h2>
    <div class="flexbox">
      <div class="box">
        <h3>Hourly Rate</h3>
        <div class="price">
          <span class="euro">€</span><span class="number">40</span
          ><span class="hour">/h</span>
        </div>
      </div>
      <div class="box">
        <h3>Minimum Charge</h3>
        <div class="price">
          <span class="euro">€</span><span class="number">100</span
          ><span class="hour">/visit</span>
        </div>
      </div>
      <div class="box">
        <h3>Consultation & Quote</h3>
        <div class="price">
          <span class="euro">FREE</span>
        </div>
      </div>
    </div>
  </div>
</div>
