.wrapper {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../src/assets/images/handyman-berlin.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
