.section {
  text-align: center;
  padding: 6rem 0;
  background: #63617c;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8)),
    url(../../../assets/images/handyman-services.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.width {
  max-width: 1440px;
  margin: 0 auto;
}

h2 {
  font-weight: 400;
  font-size: 400%;
  margin-bottom: 6rem;
}

.imgWrapper {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;

  img {
    width: 100%;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    -ms-border-radius: 75px;
    -o-border-radius: 75px;
  }
}

.review {
  margin: 2rem auto;
  padding: 2rem;
  font-size: 200%;
  line-height: 1.5;
  text-align: justify;
}

.center {
  margin-top: 2rem;
  text-align: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

.flexbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .section {
    padding: 2rem 0;
  }

  .review {
    margin: 1rem auto;
    padding: 1rem;
    font-size: 125%;
    text-align: justify;
  }

  h2 {
    font-size: 200%;
    margin-bottom: 3rem;
  }

  .imgWrapper {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;

    img {
      width: 100%;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
    }
  }

  .flexbox {
    flex-direction: column;
  }
}
