<div class="section">
  <div class="width">
    <h2>REVIEWS</h2>
    <div class="flexbox fadeInClass">
      <div class="box">
        <div class="imgWrapper">
          <img src="../../../assets/images/review2.jpeg" />
        </div>
        <div class="review">
          <span>
            "I got in touch with Jerry to come and diagnose a few issues I was
            having in my apartment. Not only did he have a can do attitude but
            he was also able to organise and manage a complete renovation of my
            apartment whilst i was out of town!"
          </span>
          <br />
          - Francesca
        </div>
      </div>
      <div class="box">
        <div class="imgWrapper">
          <img src="../../../assets/images/review1.jpeg" />
        </div>
        <div class="review">
          <span>
            "Handyman Jerry was an easygoing tradesman to be in contact with. He
            had absolution for all my issues. Would highly recommend!"
            <br />
            - Tyson
          </span>
        </div>
      </div>
      <div class="box">
        <div class="imgWrapper">
          <img src="../../../assets/images/review3.jpeg" />
        </div>
        <div class="review">
          <span>
            "I had some remodelling of my bathroom done by Jerry. I was very
            pleased with his prompt and reliable service. I look forward to
            contacting Jerry again for my upcoming renovations!"
            <br />
            - Herbert
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
