.flexbox {
  position: relative;
  top: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #ffffff00;
}

@media only screen and (max-width: 768px) {
}
