.flexbox {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.box {
  max-width: 600px;
}

h3 {
  margin-top: 2rem;
  font-size: 200%;
  color: #ff0;
}

.privacy {
  font-size: 150%;
  line-height: 1.25;
}

@media only screen and (max-width: 768px) {
  .box {
    padding: 15px;
  }
}
